# Eclipse
.classpath
.project
.settings/
.metadata

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/
lib/
venv/

*~
*#*#
*.#*
dist/
logs/
out/

__pycache__/

.python-version
abc.jpg